


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 0, 0, 0.925);
  color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 1rem auto;
    border-radius: 1rem;
  }
  /* navbar style */

  #header{
    /* width: 100%;
    height: 100vh;
    background-image: url(images/Images\ 2.png);
    background-position: center;
    background-size: cover; */
  }
  #container{
    padding: 10px 10%;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    font-size: 2rem;
    color: rgb(165, 144, 42);
    font-weight: 700;
  }
  nav ul{
    border: 1px solid rgba(241, 233, 233, 0.747);
    /* padding: 10px 3px; */
    border-radius: 30px;
    background-color: black;
  }
  nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
  }
  nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.12rem;
    font-weight: 500;
    color: #ffffffe2;
  }
  nav ul li a span{
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: chocolate;
  }

